body{
	font-family: font-family: 'Poppins', sans-serif;
}


#header{
	color: black;
	/*background: #e74c3c;*/
	background: white;
	opacity: 0.6;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1.2);
}

#menu{
	list-style: none;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

#menu li{
	display: inline-block;
	margin-left: 59px;
}


#menu li a{
	text-decoration: none;
	color: black;
	padding: 15px 10px;
	display: block;
	font-weight: bold;
}

#menu li a:hover{
	background: #e74c3c;;
	color: white;
	font-size: 18px;
}


#banner img{
	
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
}


img:hover{
	background: gray;
	opacity: 0.9;
}


.icon i.fab{
	color: black;
}


.main-btn{
	font-size: 20px;
	border-radius: 50px;
}

.pricing{
	box-shadow: 500px;
}

.admin{
	margin-top: 100px;
	margin-left: 550px;
	height: 400px;
	width: 400px;
}













